Source: node-pkg-conf
Section: web
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: akshay kemekar <akshaykemekar@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , dh-buildinfo
 , nodejs
Standards-Version: 3.9.8
Homepage: https://github.com/sindresorhus/pkg-conf#readme
Vcs-Git: https://anonscm.debian.org/git/pkg-javascript/node-pkg-conf.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-javascript/node-pkg-conf.git

Package: node-pkg-conf
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
 , node-load-json-file (>= 2.0.0)
 , node-find-up (>= 2.0.0)
Description: Get namespaced config from the closest package.json
 Continues searching upwards until the next `package.json` file is reached.
 This can be useful when you need to support the ability for users to have
 nested `package.json` files, but only read from the root one, like in the
 case of [`electron-builder`] where you have one `package.json` file for the
 app and one top-level for development.
 .
 Node.js is an event-based server-side JavaScript engine.
